/* Cores principais */
:root{
    --Preto: #040517;
    --Branco: #8d8d91;
    --Azul: rgb(32, 15, 86);
}


/* Padronização Browser */

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--Branco);
}

body{
    width: 100%;
    height: 100%;
    /* background-color: #; */
}

.title{
    font-weight: bold;
    color: white;
}

.clear{
    border-color: #c3c3c39d;
    margin: 0 auto;
    width: 200px;
    clear: both;
}

header{
    color: #c3c3c3c4;
    width: 20%;
    height: 100vh;
    background-color: #040517;
    float: left;
}

/* Menu lateral */

/* Perfil */
.logo{
    padding: 72px 22px 185px 22px;
}

.foto, .nome{
    /* height: 70px; */
    float: left;
}

.foto img{
    border-radius: 10px;
    width: 60px;
    height: 70px;
    display: block;
}

.nome{
    padding: 10px 10px;
}

.nome h1{
    font-size: 1em;
}

.nome h2{
    font-size: 0.8em;
}

/* Overview */
.nav1{
    
    height: 144px;
}

.nav1 ul {
    margin: 10px 100px;
    width: max-content;
    line-height: 30px;
    list-style: none;
}

.nav1 ul li:hover,.nav2 ul li:hover {
    color: white;
    cursor: pointer;
}

.nav1 ul li,.nav2 ul li  {
font-size: 14px;

}

/* dahsboard */

.nav2{
    height: 144px;
}

.nav2 ul{
    margin: 10px 100px;
    width: max-content;
    line-height: 30px;
    list-style: none;
}

/* Principal */
main {
    width: 80%;
    height: 100vh;
    background-color: var(--Azul);
    background-image: linear-gradient( to right, #111329 ,#18152f,#1f1734 );
    float: right;
}

.container-principal{
    padding-left: 60px;
}

/* Pesquisa */
.pesquisa{
    width: 320px;
    height: 30px;
}

.pesquisa input{
    font-size: 16px;
    margin-top: 10px;
    color: #c3c3c3c4;
    background-color: #14142c;
    width: 280px;
    height: 30px;
    border: none;
}

.pesquisa i:hover {
    color: white;
    cursor: pointer;
}

/* Carrosel */
.carrosel{
    margin-top: 44px;
}

.carrosel h2{
    width: 174px;
    height: 26px;
    border: 1px solid red;
}

.fotos-carrosel{
    margin: 18px 0px;
    height: 182px;
    border: 1px solid blue;
}

.titulo-musica{
    border: 1px solid blue;
}

.barra-rolagem{
    height: auto;
    border: 1px solid blue;

}
/* Container Inferior */
.cont-inf{
    height: 280px;
    margin-right: 60px;
    margin-top: 34px;
}

/* Container esquerdo */
.container-inf-esquerdo{
    width: 31%;
    float: left;
}

.fotos-prof{
    margin-top: 24px;
    float: left;
}

.fotos-prof ul li {
    list-style: none;
}

.fotos-prof ul li img{
    border-radius: 5px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}

/* Titulo de musicas */

.texto-foto {
    padding-top: 5px;
    margin-left: 16px;
    margin-top: 24px;
    float: left;
}

.texto-foto ul {
    margin-bottom: 30px;
    list-style: none;
}

.texto-foto ul li {
    margin-bottom: 10px;
}

.texto-foto ul li h1{
    font-size: 16px;
}

.texto-foto ul li h2{
    font-size: 12px;
}

/* Container Album */
.album{
    margin-left: 100px;
    margin-top: 24px;
    float: left;
}

.album ul {
    list-style: none;
}

.album ul li {
    letter-spacing: 5px;
    font-size: 10px;
    line-height: 72px;
}

/* Container direito */
.container-inf-direito{
    width: 42%;
    height: 100%;
    float: right;
}

/* Imagens track */

.imagens-track ul li {
    list-style: none;
    float: left;
}

.imagens-track ul li img {
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 10px;
    width: 160px;
    height: 160px;
}   

/* Cantores tracks */
.nomes-track ul {
    text-align: left;
}

.nomes-track ul li{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    float: left;
    list-style: none;
}

.nomes-track hr{
    width: auto;
    border-radius: 50px;
    border: 5px solid #321594;
}
