/* Cores principais */
:root{
    --Preto: #040517;
    --Branco: #e5e5e5e7;
    --Azul: rgb(32, 15, 86);
}


/* Padronização Browser */

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    /* background-color: #; */
}

.clear{
    border-color: #c3c3c39d;
    margin: 0 auto;
    width: 200px;
    clear: both;
}

header{
    color: #c3c3c3c4;
    width: 20%;
    height: 100vh;
    background-color: #040517;
    float: left;
}

/* Menu lateral */

/* Perfil */
.logo{
    padding: 72px 22px 185px 22px;
}

.foto, .nome{
    /* height: 70px; */
    float: left;
}

.foto img{
    border-radius: 10px;
    width: 60px;
    height: 70px;
    display: block;
}

.nome{
    padding: 10px 10px;
}

.nome h1{
    font-size: 1em;
}

.nome h2{
    font-size: 0.8em;
}

/* Overview */
.navbar{
}

.nav1{
    
    height: 144px;
}

.nav1 ul {
    margin: 10px 100px;
    width: max-content;
    line-height: 30px;
    list-style: none;
}

.nav1 ul li:hover,.nav2 ul li:hover {
    color: white;
    cursor: pointer;
}

.nav1 ul li,.nav2 ul li  {
font-size: 14px;

}

/* dahsboard */

.nav2{
    height: 144px;
}

.nav2 ul{
    margin: 10px 100px;
    width: max-content;
    line-height: 30px;
    list-style: none;
}

/* Principal */
main {
    width: 80%;
    height: 100vh;
    /* background-color: var(--Azul); */
    float: right;
}

.pesquisa{
    border: 1px solid red;
}

.carrosel{
    border: 1px solid red;
}

.container-inf-esquerdo{
    /* border: 1px solid red; */
}

.container-inf-direito{
    border: 1px solid red;
}